{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.alias }}, this your profile!{% endblock %}

{% block body %}
    
    <h1>Bienvenue sur Inforum, {{ app.user.alias | raw }}!</h1>
    <a href="/user/{{app.user.id}}/answers">Show answers</a>
    <h1>Your questions:</h1>
            {% if questions %}
                <ul class="list-group">
                {% for question in questions %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="/question/{{question.id}}/show">{{ question.title }}: {{ question.content }}</a>
                        <span class="badge badge-primary badge-pill">{{question.answers.count}}</span>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>You didn't ask any question yet.</p>
            {% endif %} 
    </div>
{% endblock %}
